In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas import Series

### lambda

In [ ]:
f = lambda x,y: x + y
f(1,4)

In [ ]:
def f(x , y):
    return x + y

In [ ]:
f = lambda x: x ** 2
f(3)

In [ ]:
f = lambda x: x+5
f(3)

In [ ]:
(lambda x: x +1)(5)

### map & replace

In [ ]:
ex = [1,2,3,4,5]
f = lambda x: x ** 2
list(map(f, ex))

In [ ]:
f = lambda x, y: x + y
list(map(f, ex, ex))

In [ ]:
list(map(lambda x: x+5, ex)) 
#python 3에는 list를 꼭 붙여줘야함

In [3]:
s1 = Series(np.arange(10))
s1.head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
s1.map(lambda x: x**2).head(5)

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [5]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
z = {1: 'A', 2: 'B', 3: 'C'}
s1.map(z)

0    NaN
1      A
2      B
3      C
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [8]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
s2

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [10]:
s2 = Series(np.arange(10,20))
s1.map(s2)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [ ]:
!wget https://raw.githubusercontent.com/rstudio/Intro/master/data/wages.csv

In [11]:
df = pd.read_csv("./data/wages.csv")
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [12]:
df.sex.unique()

array(['male', 'female'], dtype=object)

In [13]:
df["sex_code"] =  df.sex.map({"male":0, "female":1})
df.head(5)

           earn  height     sex   race  ed  age  sex_code
0  79571.299011   73.89    male  white  16   49         0
1  96396.988643   66.23  female  white  16   62         1
2  48710.666947   63.77  female  white  16   33         1
3  80478.096153   63.22  female  other  16   95         1
4  82089.345498   63.08  female  white  17   43         1

In [14]:
df.sex.replace(
    {"male":0, "female":1}
).head()

0    0
1    1
2    1
3    1
4    1
Name: sex, dtype: int64

In [ ]:
df.sex.head(5)

In [15]:
df.sex.replace(
    ["male", "female"], 
    [0,1], inplace=True)

In [16]:
df

               earn  height  sex      race  ed  age  sex_code
0      79571.299011   73.89    0     white  16   49         0
1      96396.988643   66.23    1     white  16   62         1
2      48710.666947   63.77    1     white  16   33         1
3      80478.096153   63.22    1     other  16   95         1
4      82089.345498   63.08    1     white  17   43         1
5      15313.352901   64.53    1     white  15   30         1
6      47104.171821   61.54    1     white  12   53         1
7      50960.054282   73.29    0     white  17   50         0
8       3212.649556   72.24    0  hispanic  15   25         0
9      42996.637884   72.40    0     white  12   30         0
10     10328.618843   70.22    0     white  16   69         0
11      1002.307155   63.15    1     white  14   54         1
12     47597.819864   68.11    0     white  11   38         0
13     19019.542299   68.08    0     white  12   31         0
14     20063.996639   64.86    1     white  12   55         1
15       992.832346   60.06    1     white  12   31         1
16     35972.171123   66.01    1     white  16   39         1
17     26930.543964   68.07    0     white  12   62         0
18     64602.063972   68.16    1     white  14   33         1
19     69993.693070   70.02    0     white  13   48         0
20      1000.218306   67.08    1     white   9   25         1
21     12131.822115   64.20    1     black  12   59         1
22     84223.397919   72.76    0     black  13   39         0
23      8949.474935   62.17    1     white  13   55         1
24     23278.323278   63.04    1     white  14   25         1
25      8750.139185   66.67    0     white  14   26         0
26     64593.599805   65.95    1     white  12   45         1
27     54079.814945   71.69    0     white  12   49         0
28     16896.100044   62.76    1     black  12   39         1
29       -95.710279   68.46    0     white  11   25         0
...             ...     ...  ...       ...  ..  ...       ...
1349   64607.961872   65.68    1     white  16   63         1
1350   15899.403155   67.02    0     white  12   81         0
1351   25361.828379   66.10    0     white  12   41         0
1352   18482.957184   63.27    1     white   9   55         1
1353   26432.886457   67.89    1     white  13   47         1
1354   28644.500098   70.32    0     white  12   31         0
1355   20065.082736   62.98    1     white  16   30         1
1356    6354.842127   70.09    0     black  14   25         0
1357   95416.606798   71.92    0     white  12   49         0
1358   68428.923058   74.92    0     white  17   44         0
1359   50299.051292   61.97    1     white  14   43         1
1360   80518.409376   67.98    1     white  17   43         1
1361   43919.894343   68.18    1     white  14   33         1
1362   47712.440935   69.85    0     white  17   60         0
1363   19182.607431   73.26    0     black  13   25         0
1364     987.265131   69.01    1     white  16   43         1
1365   32798.051176   62.37    1     white  17   34         1
1366   24849.193294   60.30    1     black  12   80         1
1367   40757.935077   64.17    1     other  16   41         1
1368    4184.222685   60.19    1  hispanic   6   71         1
1369    4755.736508   72.94    0  hispanic  15   24         0
1370  175901.453598   65.90    1     other  18   52         1
1371   87473.968778   68.82    0     white  18   75         0
1372   92205.596106   69.62    0     white  18   57         0
1373   16905.557851   70.08    1     white  16   40         1
1374   30173.380363   71.68    0     white  12   33         0
1375   24853.519514   61.31    1     white  18   86         1
1376   13710.671312   63.64    1     white  12   37         1
1377   95426.014410   71.65    0     white  12   54         0
1378    9575.461857   68.22    0     white  12   31         0

[1379 rows x 7 columns]

In [17]:
del df["sex_code"]

In [18]:
df.head()

           earn  height  sex   race  ed  age
0  79571.299011   73.89    0  white  16   49
1  96396.988643   66.23    1  white  16   62
2  48710.666947   63.77    1  white  16   33
3  80478.096153   63.22    1  other  16   95
4  82089.345498   63.08    1  white  17   43

### apply & applymap

In [ ]:
df = pd.read_csv("wages.csv")
df.head()

In [ ]:
df_info = df[["earn", "height","age"]]
df_info.head()

In [ ]:
f = lambda x : x.max() - x.min()
df_info.apply(f)

In [ ]:
df_info.apply(sum)

In [ ]:
df_info.sum()

In [ ]:
def f(x):
    return Series([x.min(), x.max(), x.mean()], 
                    index=["min", "max", "mean"])
df_info.apply(f)

In [ ]:
f = lambda x : -x
df_info.applymap(f).head(5)

In [ ]:
f = lambda x : -x
df_info["earn"].apply(f).head(5)